body {
    margin: 0;
    font-family: sans-serif;
}

h1 {
    color: #F9FAF8;
}

.team {
    display: flex;
    max-width: 500px;
    max-height: auto;
    align-self: flex-start;
    margin-top: auto;
    margin-bottom: auto;
    border-style: outset;
    border-width: 2px;
}

.section-1 {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    background-color: #1F2355ff;
    padding: 16px 150px 80px 150px;
    min-width: 800px;
}

.section-2 {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    background-color: #F9FAF8;
    padding: 16px 150px 80px 150px;
    min-width: 800px;
}

.section-3 {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 16px 150px 80px 150px;
    min-width: 800px;
    padding-top: 80px;
}

.section-4 {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    background-color: #F9FAF8;
    padding: 100px 150px;
    min-width: 800px;
}

.footer {
    display: flex;
    flex: 0 1 auto;
    background-color: #1F2355ff;
    padding: 25px 150px;
    min-width: 800px;
    color: #E5E7EB;
    justify-content: center;
    font-size: smaller;
}

.sub-1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.links {
    display: flex;
    gap: 16px;
}

.sub-2 {
    display: flex;
    justify-content: space-around;
}

.sub-1 a, .sub-1 img, .sub-2 p, .sub-2 img {
    color: #F9FAF8;
    text-decoration: none;
}

.logo {
    display: flex;
    height: 75px;
    width: auto;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    max-width: 500px;
    min-width: 300px;

}

button {
    max-width: fit-content;
    border-radius: 7px;
    padding: 8px 16px;
    border: none;
    background-color: #8443BCff;
    color: #F9FAF8;
}

button:hover {
    background-color: #F9FAF8;
    color: #8443BCff;
}

.motto {
    font-style: italic;
    font-weight: 300;
    font-size: smaller;
    color: #E5E7EB;
}

.random-info {
    display: flex;
    font-size: 36px;
    font-weight: 500;
    color: #1F2355ff;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

.heroes {
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
    justify-content: space-around;
}

.heroes img {
    width: 200px;
    height: 150px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 5px solid rgb(201, 200, 215);
}

.heroes div {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: center;
}

.heroes div div {
    padding: 8px;
}

.subtext {
    color: #475569;
    font-size: smaller;
}

.hero {
    font-weight: 500;
    color: darkblue;
}

.quote { 
    font-size: 36px;
    font-weight: lighter;
    font-family: sans-serif;
    font-style: italic;
    color: #1f2937;
    display: flex;
    margin-bottom: 20px;
}

.quote-home, .quote-deep {
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 80px;
    font-size: smaller;
}

.quote-noir {
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    font-size: smaller;
}

.container {
    display: flex;
    flex: 0;
    justify-content: space-around;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    padding: 30px;
    gap: 10px;
    align-items: center;

}

.sign-up {
    background-color: #3882F6;
    border: solid;
    border-width: 2px;
    border-color: #F9FAF8;
    height: fit-content;
}

.sign-up:hover {
    background-color: #F9FAF8;
    color: #3882F6;
}



.line-1 {
    font-size: 24px;
}

.line-2 {
    color: #d9e2ee;
}

.links a:hover {
    color: violet;
}